@model IEnumerable<TCCnew.ViewModel.QuantidadeFuncionarios>
@{
    ViewBag.Title = "Registro de funcionários";
}
<h2>@ViewBag.Title.</h2>

<table>
    <tr>
        @*<th>
            Data de criação
        </th>*@
        <th>
            Quantidade de funcionários inativos e ativos (Acima inativos, abaixo inativos):
        </th>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>*@
                <td>
                    @item.FuncionariosCount
                </td>
            </tr>
        }
    </tr>
</table>
