@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sysgames <img src="https://img.icons8.com/clouds/100/000000/controller.png" /></h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo ao Sysgames</h2>
        <p>
            O propósito desse sistema, é servir como trabalho de conclusão de curso para
            o curso de Desenvolvimento de sistemas, feito por Leonardo Salomão, Matheus Sanches, Carla Seter e André Guedes.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Repositório GitHub:</h2>
        <p>Link para acessar o repositório do projeto (Em construção):</p>
        <p><a class="btn btn-default" href="https://github.com/Nashzen/Gerenciamento-de-estoque"><span class="icon"><img src="https://img.icons8.com/fluent/20/000000/github.png" /></span>Repositório &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ícones usados</h2>
        <p>Nunca esqueça de deixar os créditos pros assets usados.</p>
        <p><a class="btn btn-default" href="https://www.icons8.com"><span class="icon"><img src="https://img.icons8.com/wired/25/000000/icons8-new-logo.png" /></span>Site Icons8 &raquo;</a></p>
    </div>
</div>

@*ícones utilizados*@
@*<a href="https://icons8.com/icon/AZOZNnY73haj/github">GitHub icon by Icons8</a>*@